html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 36px;
  height: 80vh;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-basis: 40%;
}

.selebrate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 36px;
  height: 50vh;
}
.selebrate__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-basis: 40%;
}

.giving {
  text-align: center;
  height: 50vh;
}
.giving__content {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-top: 48px;
}

.send-wish {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}
.send-wish__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.nav__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border: none;
  background-color: rgb(212, 43, 57);
  padding: 24px 42px;
  border-radius: 64px;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
}

.input {
  padding: 24px;
  border-radius: 64px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.text {
  font-size: 15px;
  line-height: 23px;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.title-item {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}