$main-color: rgba(255, 255, 255, 1);
$first-red-color: rgba(212, 43, 57, 1);
$secondary-red-color: rgba(220, 56, 69, 1);
$third-red-color: rgba(219, 77, 89, 1);

$body-dark-color: rgba(37, 24, 25, 1);
$secondary-dark-color: rgba(47, 34, 35, 1);
$light-title-color: rgba(243, 242, 242, 1);
$dark-title-color: rgba(40, 37, 37, 1);
$text-color: rgba(145, 136, 137, 1);
$text-dark-color: rgba(93, 86, 86, 1);
$text-light-color:rgba(194, 189, 189, 1);


$base-font-famile: 'Poppins', sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;